apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "orc.fullname" . }}-controller-manager
  namespace: {{ include "orc.namespace" . }}
  labels:
    {{- include "orc.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "orc.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "orc.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: manager
        image: "quay.io/orc/openstack-resource-controller:{{ .Values.image.version |  default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /manager
        args:
        - --metrics-bind-address=:{{ .Values.manager.metricsPort }}
        - --leader-elect={{ .Values.manager.leaderElect }}
        - --health-probe-bind-address=:{{ .Values.manager.healthProbePort }}
        {{- with .Values.manager.extraArgs }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        ports:
        - name: metrics
          containerPort: {{ .Values.manager.metricsPort }}
          protocol: TCP
        - name: health
          containerPort: {{ .Values.manager.healthProbePort }}
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: health
          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
        readinessProbe:
          httpGet:
            path: /readyz
            port: health
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          runAsGroup: {{ .Values.securityContext.runAsGroup }}
          runAsUser: {{ .Values.securityContext.runAsUser }}
        terminationMessagePolicy: FallbackToLogsOnError
      securityContext:
        runAsNonRoot: {{ .Values.securityContext.runAsNonRoot }}
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: {{ include "orc.fullname" . }}-controller-manager
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}